@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-bg-color: hsl(252, 100%, 67%);
  --second-bg-color: hsl(241, 81%, 54%);
  --comment-bg-color: hsl(241, 100%, 89%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;
}

.component {
  display: flex;
  min-width: 500px;
  min-height: 300px;
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -10px;
  overflow: hidden;
}

.result {
  overflow: hidden;
  padding: 0.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex: 1;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  background-image: linear-gradient(
    var(--main-bg-color),
    var(--second-bg-color)
  );
}

.result h4 {
  color: var(--comment-bg-color);
  text-align: center;
  margin: 1.3rem;
}

.total-score {
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  min-width: 140px;
  min-height: 140px;
  margin: 0 auto;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
}

.score {
  display: grid;
  place-content: center;
}

.score h3 {
  font-size: 60px;
  color: white;
  justify-content: center;
}

.score p {
  color: var(--comment-bg-color);
  font-size: 11px;
}

.evaluation {
  text-align: center;
  color: aliceblue;
  margin: 1rem;
  font-size: 1.5rem;
}

.comment {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5rem 15px;
  padding: 0.5rem;
  color: var(--comment-bg-color);
}

.summary {
  padding: 1.3rem;
  flex: 1;
}

.summary h4 {
  margin: 0.5rem 0;
}

.score-list {
  margin: 1rem 0;
  flex-direction: column;
  min-width: 100px;
  width: 100%;
}

.score-category {
  flex: 1;
}

.score-result em {
  font-style: normal;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
  justify-content: space-around;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  gap: 0.5rem;
}

.logo {
  display: flex;
}

.reaction {
  justify-content: space-between;
  color: hsl(0, 100%, 67%);
  background-color: #fff6f6;
}

.memory {
  justify-content: space-between;
  color: hsl(39, 100%, 56%);
  background-color: #fffbf2;
}

.verbal {
  justify-content: space-between;
  color: hsl(166, 100%, 37%);
  background-color: #f3fafa;
}

.visual {
  justify-content: space-between;
  color: var(--second-bg-color);
  background-color: #f3f3fd;
}

#continue-button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  border: none;
  font-size: 14px;
}

#continue-button:hover {
  background-image: linear-gradient(
    var(--main-bg-color),
    var(--second-bg-color)
  );
}

@media screen and (max-width: 375px) {
  .component {
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
  }
}
